#root {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  height: 100vh;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-grow {
  animation: grow .5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.transition-width {
  transition: width 0.5s ease-in-out;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.react-calendar-heatmap {
  .color-empty { fill: var(--color-muted); }
  .color-scale-0 { fill: var(--color-zinc-300); }
  .color-scale-1 { fill: var(--color-zinc-400); }
  .color-scale-2 { fill: var(--color-zinc-500); }
  .color-scale-3 { fill: var(--color-zinc-600); }
  .color-scale-4 { fill: var(--color-zinc-700); }
  .color-scale-5 { fill: var(--color-zinc-800); }
  .color-scale-6 { fill: var(--color-zinc-900); }
  .color-scale-7 { fill: var(--color-zinc-950); }
}

.dark .react-calendar-heatmap {
  .color-scale-0 { fill: var(--color-zinc-700); }
  .color-scale-1 { fill: var(--color-zinc-600); }
  .color-scale-2 { fill: var(--color-zinc-500); }
  .color-scale-3 { fill: var(--color-zinc-400); }
  .color-scale-4 { fill: var(--color-zinc-300); }
  .color-scale-5 { fill: var(--color-zinc-200); }
  .color-scale-6 { fill: var(--color-zinc-100); }
  .color-scale-7 { fill: var(--color-zinc-50); }
}
