#root {
  padding: 0.75rem;
  height: 100vh;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-grow {
  animation: grow .5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.transition-width {
  transition: width 0.5s ease-in-out;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.react-calendar-heatmap .color-empty { fill: var(--color-accent); }
.react-calendar-heatmap .color-scale-0 { fill: var(--color-rose-100); }
.react-calendar-heatmap .color-scale-1 { fill: var(--color-rose-200); }
.react-calendar-heatmap .color-scale-2 { fill: var(--color-rose-300); }
.react-calendar-heatmap .color-scale-3 { fill: var(--color-rose-400); }
.react-calendar-heatmap .color-scale-4 { fill: var(--color-rose-500); }
.react-calendar-heatmap .color-scale-5 { fill: var(--color-rose-600); }
.react-calendar-heatmap .color-scale-6 { fill: var(--color-rose-700); }
.react-calendar-heatmap .color-scale-7 { fill: var(--color-rose-800); }

.dark .react-calendar-heatmap .color-scale-0 { fill: oklch(from var(--color-rose-200) calc(l/2 + .2) c h); }
.dark .react-calendar-heatmap .color-scale-1 { fill: oklch(from var(--color-rose-300) calc(l/2 + .2) c h); }
.dark .react-calendar-heatmap .color-scale-2 { fill: oklch(from var(--color-rose-400) calc(l/2 + .2) c h); }
.dark .react-calendar-heatmap .color-scale-3 { fill: oklch(from var(--color-rose-500) calc(l/2 + .2) c h); }
.dark .react-calendar-heatmap .color-scale-4 { fill: oklch(from var(--color-rose-600) calc(l/2 + .2) c h); }
.dark .react-calendar-heatmap .color-scale-5 { fill: oklch(from var(--color-rose-700) calc(l/2 + .2) c h); }
.dark .react-calendar-heatmap .color-scale-6 { fill: oklch(from var(--color-rose-800) calc(l/2 + .2) c h); }
.dark .react-calendar-heatmap .color-scale-7 { fill: oklch(from var(--color-rose-900) calc(l/2 + .2) c h); }
