::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1
}

::view-transition-new(root) {
  z-index: 9999
}

.dark::view-transition-old(root) {
  z-index: 9999
}

.dark::view-transition-new(root) {
  z-index: 1
}

#root {
  padding: 0.75rem;
  height: 100vh;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-grow {
  animation: grow .5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.transition-width {
  transition: width 0.5s ease-in-out;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}
