.circle-transition::view-transition-old(root),
.circle-transition::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.circle-transition::view-transition-old(root) {
  z-index: 1
}

.circle-transition::view-transition-new(root) {
  z-index: 9999
}

.circle-transition.dark::view-transition-old(root) {
  z-index: 9999
}

.circle-transition.dark::view-transition-new(root) {
  z-index: 1
}

.circle-transition.forward-transition::view-transition-old(root) {
  z-index: 1
}

.circle-transition.forward-transition::view-transition-new(root) {
  z-index: 9999
}

.circle-transition.back-transition::view-transition-old(root) {
  z-index: 9999
}

.circle-transition.back-transition::view-transition-new(root) {
  z-index: 1
}
