

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-bottom {
  from { transform: translateY(100%); }
}

@keyframes slide-to-top {
  to { transform: translateY(-100%); }
}

@keyframes slide-to-bottom {
  to { transform: translateY(100%); }
}

@keyframes slide-from-top {
  from { transform: translateY(-100%); }
}

.forward-transition::view-transition-old(root) {
  animation: 800ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
}

.forward-transition::view-transition-new(root) {
  animation: 800ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}


.back-transition::view-transition-old(root) {
  animation: 800ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-bottom;
}

.back-transition::view-transition-new(root) {
  animation: 800ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-top;
}

/* .float-button-container {
  view-transition-name: float-button-container;
} */

::view-transition-old(float-button-container),
::view-transition-new(float-button-container) {
  animation-duration: 800ms;
}
